@model IEnumerable<Cargo>
@await Component.InvokeAsync("Menu")
    <div class="page_header">
        <h3 class="third_header">Məişət Əşyalarının Quraşdırılması</h3>

        <div class="page_header_nav">
            <a asp-controller="Home" asp-action="index">Əsas səhifə</a>

            <span>/</span>

            <a asp-controller="Home" asp-action="index">Haqqımızda</a>
        </div>
    </div>

<section class="delivery">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="page_content_wrapper">
                <div class="delivery_imgBox">
                    <img src="~/uploads/images/@item.ImagePath" alt="" />

                </div>

                <p class="page_paragraph">
                    @Html.Raw(item.Text)
                </p>
            </div>
        }

        <div class="page_contact_btnWrapper">
            <a href="#" class="blue_button">ƏLAQƏ</a>
        </div>
    </div>
</section>