.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/static-photos/reyler.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.notFound_img {
  margin: 50px 0;
  width: 950px;
}

.notFound a {
  padding: 15px 75px;
  height: 60px;
}
