:root {
  --color-blue: #0071bb;
  --color-orange: #f32735;
  --color-red: #dc3545;
  --color-white: #f3f4fc;
  --color-black: #2b343b;
  --color-light-black: #2b343b;
  --color-gray: #707070;
  --color-secondary-gray: #565656;
  --color-green: #00a42e;
}
