@font-face {
  font-family: roboto-400;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto-600;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-500;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto-700;
  src: url("../fonts/Roboto-Bold.ttf");
}
