<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      MTT Service texniki servis. Məişət texnikasının təmiri üçün müraciet edin.
      Paltaryuyan, kondisioner, soyuducu və digər istənilən texnika təmiri. MTT
      servis
    </title>

    <link rel="icon" href="./assets/icons/page-icon.svg" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/nice-select.css" />

    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <header>
      <div class="header_top_container">
        <div class="container">
          <div class="header_top row">
            <div class="header_top_left">
              <a href="#">Servis məntəqələrimiz</a>

              <a href="#">Tez-tez verilən suallar</a>
            </div>

            <div class="header_top_right">
              <a href="#">
                <span
                  ><img src="assets/icons/message-icon.svg" alt="message-icon"
                /></span>

                office@solitonservice.com
              </a>

              <div class="line"></div>

              <div class="header_social_icon_wrapper">
                <a href="#">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header_center_container">
        <div class="container">
          <div class="header_center">
            <a href="index.html" class="header_logoBox">
              <img src="assets/static-photos/logo.svg" alt="" />
            </a>

            <div class="header_phoneWrapper">
              <div class="header_phoneColumn">
                <a href="#"
                  ><span>
                    <img src="assets/icons/phone-icon.svg" alt="" />
                  </span>

                  (+994 12) 565-1-565</a
                >
                <a href="#">
                  <span>
                    <img src="assets/icons/phone-icon.svg" alt="" />
                  </span>

                  (+994 12) 565-2-565</a
                >
              </div>

              <div class="header_phoneColumn">
                <a href="#"
                  ><span>
                    <img src="assets/icons/phone-icon.svg" alt="" />
                  </span>

                  (+994 55) 222-34-19</a
                >
                <a href="#">
                  <span>
                    <img src="assets/icons/phone-icon.svg" alt="" />
                  </span>

                  (+994 55) 222-32-46</a
                >
              </div>
            </div>

            <a href="#" class="header_numberWrapper row">
              <span>
                <i class="fa-solid fa-phone"></i>
              </span>

              <span>180</span>
            </a>

            <div class="hamburger">
              <img src="./assets/icons/hamburger.svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="header_navbar_container">
        <div class="container">
          <div class="header_navbar">
            <ul class="navbar_links row">
              <li class="navbar_singleLink">
                <a href="index.html">Əsas səhifə</a>
              </li>

              <li class="navbar_singleLink">
                <p class="navbar_dropdownParent">
                  <a href="./Pages/repair.html">Təmir </a>

                  <i class="fa-solid fa-angle-down"></i>
                </p>

                <ul class="dropdownMenu">
                  <li>
                    <a href="./Pages/singleRepair.html">Kondisioner təmiri</a>
                  </li>
                  <li>
                    <a href="#">Soyuducu təmiri</a>
                  </li>
                  <li>
                    <a href="#">Paltaryuyan təmiri</a>
                  </li>
                  <li>
                    <a href="#">Qabyuyan təmiri</a>
                  </li>
                  <li>
                    <a href="#">Televizor təmiri</a>
                  </li>
                  <li>
                    <a href="#">Qaz sobası təmiri</a>
                  </li>
                  <li>
                    <a href="#">Elektrik sobası təmiri</a>
                  </li>
                </ul>
              </li>

              <li class="navbar_singleLink">
                <p class="navbar_dropdownParent">
                  <a href="./Pages/installation.html">Quraşdırılma </a>

                  <i class="fa-solid fa-angle-down"></i>
                </p>

                <ul class="dropdownMenu">
                  <li>
                    <a href="#">Kondisioner quraşdırılması</a>
                  </li>
                </ul>
              </li>

              <li class="navbar_singleLink">
                <a href="./Pages/order.html">Usta sifarişi</a>
              </li>

              <li class="navbar_singleLink">
                <a href="./Pages/delivery.html">Çatdırılma</a>
              </li>

              <li class="navbar_singleLink">
                <a href="./Pages/warranty.html">Zəmanət</a>
              </li>

              <li class="navbar_singleLink">
                <a href="./Pages/about.html">Haqqımızda</a>
              </li>

              <li class="navbar_singleLink">
                <a href="./Pages/contact.html">Əlaqə</a>
              </li>

              <li class="navbar_singleLink">
                <p class="navbar_dropdownParent">
                  <a href="#">AZ</a>

                  <i class="fa-solid fa-angle-down"></i>
                </p>

                <div class="dropdownMenu">
                  <ul>
                    <li>
                      <a href="#">AZ</a>
                    </li>

                    <li>
                      <a href="#">EN</a>
                    </li>

                    <li>
                      <a href="#">RU</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mobile_menu">
        <div class="mobile_langWrapper">
          <span>AZ</span>

          <span>EN</span>

          <span>RU</span>
        </div>

        <div class="close_button">
          <img src="./assets/icons/mobile-menu-close.svg" alt="" />
        </div>

        <ul class="mobile_navbar_links">
          <li class="mobile_navbar_singleLink">
            <a href="index.html">Əsas səhifə</a>
          </li>

          <li class="mobile_navbar_singleLink">
            <p class="navbar_dropdownParent">
              <a href="./Pages/repair.html">Təmir </a>

              <i
                class="mobileDropdownMenuButton fa-solid fa-plus"
                data-id="temir"
              ></i>
            </p>

            <ul class="mobile_dropdownMenu" id="temir">
              <li>
                <a href="./Pages/singleRepair.html">Kondisioner təmiri</a>
              </li>
              <li>
                <a href="#">Soyuducu təmiri</a>
              </li>
              <li>
                <a href="#">Paltaryuyan təmiri</a>
              </li>
              <li>
                <a href="#">Qabyuyan təmiri</a>
              </li>
              <li>
                <a href="#">Televizor təmiri</a>
              </li>
              <li>
                <a href="#">Qaz sobası təmiri</a>
              </li>
              <li>
                <a href="#">Elektrik sobası təmiri</a>
              </li>
            </ul>
          </li>

          <li class="mobile_navbar_singleLink">
            <p class="navbar_dropdownParent">
              <a href="./Pages/installation.html">Quraşdırılma </a>

              <i
                class="mobileDropdownMenuButton fa-solid fa-plus"
                data-id="qurasdirma"
              ></i>
            </p>

            <ul class="mobile_dropdownMenu" id="qurasdirma">
              <li>
                <a href="#">Kondisioner quraşdırılması</a>
              </li>
            </ul>
          </li>

          <li class="mobile_navbar_singleLink">
            <a href="./Pages/order.html">Usta sifarişi</a>
          </li>

          <li class="mobile_navbar_singleLink">
            <a href="./Pages/delivery.html">Çatdırılma</a>
          </li>

          <li class="mobile_navbar_singleLink">
            <a href="./Pages/warranty.html">Zəmanət</a>
          </li>

          <li class="mobile_navbar_singleLink">
            <a href="./Pages/about.html">Haqqımızda</a>
          </li>

          <li class="mobile_navbar_singleLink">
            <a href="./Pages/contact.html">Əlaqə</a>
          </li>
        </ul>

        <div class="mobile_menu_phoneWrapper">
          <div class="mobile_menu_phoneBox">
            <i class="fa-solid fa-phone"></i>
            <a href="#">(+994 12) 565-1-565</a>
          </div>

          <div class="mobile_menu_phoneBox">
            <i class="fa-solid fa-phone"></i>
            <a href="#">(+994 55) 222-34-19</a>
          </div>
        </div>
      </div>
    </header>

    <section class="slider_container">
      <div class="swiper main_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
              <img src="assets/static-photos/banner-1.jpg" alt="" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img src="assets/static-photos/banner-2.jpg" alt="" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img src="assets/static-photos/banner-3.jpg" alt="" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <img src="assets/static-photos/banner-4.jpg" alt="" />
            </a>
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>

    <section class="brends_slider_wrapper">
      <h3 class="third_header">
        Bütün brendlərin məişət texnikasını təmir edirik!
      </h3>

      <div class="container">
        <div class="owl-carousel owl-theme brends_sliderContainer">
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/beko.svg" alt="" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/blomberg.svg" alt="" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/grundig.svg" alt="" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/riffel.svg" alt="" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/lg.svg" alt="" />
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/static-photos/samsung.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="repair_installation">
      <div class="container">
        <div class="repair_installation_container">
          <h2 class="secondary_header">Təmir</h2>

          <div
            class="owl-carousel owl-theme repair_productsSlider slider_custom_arrow slider_custom_dots"
          >
            <div class="item">
              <a href="#">
                <h4>KONDİSİONER</h4>

                <img
                  src="assets/product-photos/kondisioner-removebg.png"
                  alt=""
                />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>SOYUDUCU</h4>

                <img src="assets/product-photos/soyuducu-removebg.png" alt="" />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>PALTARYUYAN</h4>

                <img
                  src="assets/product-photos/paltaryuyan-removebg.png"
                  alt=""
                />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>QABYUYAN</h4>

                <img src="assets/product-photos/qabyuyan-removebg.png" alt="" />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <a href="./Pages/repair.html" class="showAll_button">
          Hamısına bax

          <i class="fa-solid fa-arrow-right-long"></i>
        </a>

        <div class="repair_installation_container">
          <h2 class="secondary_header">Quraşdırılma</h2>

          <div
            class="owl-carousel owl-theme repair_productsSlider slider_custom_arrow"
          >
            <div class="item">
              <a href="#">
                <h4>KONDİSİONER</h4>

                <img
                  src="assets/product-photos/kondisioner-removebg.png"
                  alt=""
                />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>SOYUDUCU</h4>

                <img src="assets/product-photos/soyuducu-removebg.png" alt="" />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>ELEKTRİK SOBASI</h4>

                <img
                  src="assets/product-photos/elektrik-sobasi-removebg.png"
                  alt=""
                />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <h4>QABYUYAN</h4>

                <img src="assets/product-photos/qabyuyan-removebg.png" alt="" />

                <div class="repair_product_arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <a href="./Pages/installation.html" class="showAll_button">
          Hamısına bax

          <i class="fa-solid fa-arrow-right-long"></i>
        </a>
      </div>
    </section>

    <section class="map">
      <h3 class="third_header">Servis Məntəqələrimiz</h3>

      <div class="map_wrapper">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d759.7628545903941!2d49.851149!3d40.38555300000001!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1681224846278!5m2!1sen!2sus"
          width="100%"
          height="550"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>

    <section class="about_liderService">
      <div class="container">
        <div class="about_container">
          <div class="about_leftBox">
            <img src="assets/static-photos/haqqinda-sekil.jpg" alt="" />
          </div>

          <div class="about_rightBox">
            <h3 class="third_header">"Lider Service" haqqında</h3>

            <p>
              "Lider Service" təcrübəli mutəxəssislər və konsultantlar
              komandasıdır ki, hər bir texniki problemdə sizə köməklik
              göstərməyə hazırdılar. Aldığınız malda istənilən nasazlıq
              olduğunda bizim servis mərkəzi ilə əlaqə saxlaya bilərsiniz. Bizim
              məhsullarımız davamlıdırlar. Uzun müddətli iş və zəmanət
              keyfiyyəti bizim vacib meyarlarımızdandır. Bütün məhsullarımız
              satışa buraxılmamışdan qabaq kompüter testindən keçirilir. Zəmanət
              müddəti ərzində hər hansı bir detal çatışmamazlığı ilə yaranan
              problemlər servis tərəfindən pulsuz həll olunur.
            </p>

            <div class="rightBox_details">
              <div class="rightBox_details_row">
                <div class="rightBox_details_iconWrapper">
                  <img src="assets/icons/settings.png" alt="" />
                </div>

                <div class="rightBox_details_textWrapper">
                  <h5>Ehtiyyat hissələri və aksesuarlar</h5>

                  <p>
                    Bilavasitə servisimiz tərəfindən əldə olunan orijinal
                    detallar tam əminlik yaradır. Çünki, bu detallar alınan
                    məhsula tam uyğundur və istənilən keyfiyyəti təmin edə
                    bilərlər. Lazım olan hissələri əldə etmək üçün servisə
                    müraciət edə bilərsiniz.
                  </p>
                </div>
              </div>

              <div class="rightBox_details_row">
                <div class="rightBox_details_iconWrapper">
                  <img src="assets/icons/award.png" alt="" />
                </div>

                <div class="rightBox_details_textWrapper">
                  <h5>Zəmanət qüvvəsi</h5>

                  <p>
                    Soliton mağazalar şəbəkəsi öz məhsullarına yüksək keyfiyyət
                    verir və bütün məhsullarına 1 ildən 3 ilədək zəmanət təklif
                    edir. Biz sizə pulsuz çatdırılma və quraşdırılmanı təklif
                    edirik. Çatdırılma həftənin bütün günləri həyata keçirilir.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service_slider">
      <div class="background-frame">
        <img src="assets/static-photos/background-frame.png" alt="" />
      </div>

      <div class="background-frame">
        <img src="assets/static-photos/background-frame.png" alt="" />
      </div>

      <h3 class="third_header">Gördüyümüz işlər</h3>

      <div
        class="owl-carousel owl-theme service_sliderWrapper slider_custom_dots"
      >
        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-2.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Televizor quraşdırılması</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-5.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Paltaryuyan təmiri</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-3.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Soyuducu quraşdırılması</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-4.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Televizor təmiri</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-5.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Televizor təmiri</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-2.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Qabyuyan təmiri</p>
            </div>
          </a>
        </div>

        <div class="item">
          <a href="#" class="service_singleSlider">
            <div class="service_imgWrapper">
              <img src="assets/service-photos/service-photo-5.jpg" alt="" />
            </div>

            <div class="service_textWrapper">
              <p>Televizor quraşdırılması</p>
            </div>
          </a>
        </div>
      </div>

      <div class="services_faq">
        <div class="container">
          <div class="services_faqWrapper">
            <div class="services_faq_imgWrapper">
              <img src="assets/service-photos/service-faq-1.jpg" alt="" />

              <img src="assets/service-photos/service-faq-2.jpg" alt="" />
            </div>

            <div class="services_faq_textWrapper">
              <h3 class="third_header">Tez-tez verilən suallar</h3>

              <div class="faq_questionWrapper" data-id="faq1">
                <div class="faq_questionWrapper_header row">
                  <h5>Başla/Gözlə/Ləğv düyməsi yanıb sönür</h5>

                  <i class="faq_button fa-solid fa-plus"></i>
                </div>

                <p class="faq_answer">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id
                  nunc felis ultrices vitae iaculis at eu. Tincidunt
                  pellentesque lobortis enim morbi nulla tortor tristique in.
                  Massa semper quis imperdiet cursus egestas. Nulla eget purus
                  et phasellus vehicula feugiat. Quam dictumst diam id tincidunt
                  est.
                </p>
              </div>

              <div class="faq_questionWrapper" data-id="faq2">
                <div class="faq_questionWrapper_header row">
                  <h5>Qırış əleyhinə funksiya işləmir</h5>

                  <i class="faq_button fa-solid fa-plus"></i>
                </div>

                <p class="faq_answer">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id
                  nunc felis ultrices vitae iaculis at eu. Tincidunt
                  pellentesque lobortis enim morbi nulla tortor tristique in.
                  Massa semper quis imperdiet cursus egestas. Nulla eget purus
                  et phasellus vehicula feugiat. Quam dictumst diam id tincidunt
                  est.
                </p>
              </div>

              <div class="faq_questionWrapper" data-id="faq3">
                <div class="faq_questionWrapper_header row">
                  <h5>Qabyuyan qabları qurutmur</h5>

                  <i class="faq_button fa-solid fa-plus"></i>
                </div>

                <p class="faq_answer">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id
                  nunc felis ultrices vitae iaculis at eu. Tincidunt
                  pellentesque lobortis enim morbi nulla tortor tristique in.
                  Massa semper quis imperdiet cursus egestas. Nulla eget purus
                  et phasellus vehicula feugiat. Quam dictumst diam id tincidunt
                  est.
                </p>
              </div>

              <div class="faq_questionWrapper" data-id="faq4">
                <div class="faq_questionWrapper_header row">
                  <h5>Qabyuyan qabların üstündə ərp saxlayır</h5>

                  <i class="faq_button fa-solid fa-plus"></i>
                </div>

                <p class="faq_answer">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id
                  nunc felis ultrices vitae iaculis at eu. Tincidunt
                  pellentesque lobortis enim morbi nulla tortor tristique in.
                  Massa semper quis imperdiet cursus egestas. Nulla eget purus
                  et phasellus vehicula feugiat. Quam dictumst diam id tincidunt
                  est.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="feedback">
      <div class="container">
        <h2 class="secondary_header">Müştəri rəyləri</h2>

        <div
          class="owl-carousel owl-theme feedback_slider slider_custom_arrow slider_custom_dots"
        >
          <div class="item">
            <a href="#">
              <img src="assets/feedback/feedback-1.jpg" alt="" />
            </a>
          </div>

          <div class="item">
            <a href="#">
              <img src="assets/feedback/feedback-2.jpg" alt="" />
            </a>
          </div>

          <div class="item">
            <a href="#">
              <img src="assets/feedback/feedback-3.jpg" alt="" />
            </a>
          </div>

          <div class="item">
            <a href="#">
              <img src="assets/feedback/feedback-4.jpg" alt="" />
            </a>
          </div>

          <div class="item">
            <a href="#">
              <img src="assets/feedback/feedback-5.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="order_form">
      <div class="container">
        <div class="order_formWrapper">
          <form class="order_formWrapper_leftBox">
            <h3 class="third_header">Usta sifarişi</h3>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac est
              nulla tellus pharetra egestas.
            </p>

            <div class="form_inputWrapper">
              <div class="form_inputWrapper_row row">
                <input type="text" placeholder="Adınız və Soyadınız" required />

                <input type="tel" placeholder="Telefon nömrəniz" required />
              </div>

              <div class="form_inputWrapper_row row">
                <select required>
                  <option
                    data-display="Sifariş etmək istədiyiniz xidməti seçin"
                  >
                    Nothing
                  </option>
                  <option value="1">Some option</option>
                  <option value="2">Some option 2</option>
                  <option value="3">Some option 3</option>
                </select>

                <textarea
                  type=""
                  placeholder="Sifariş haqqında məlumat"
                ></textarea>
              </div>
            </div>

            <button type="button">Sifariş et</button>
          </form>

          <div class="order_formWrapper_rightBox">
            <h3 class="third_header">Əlaqə</h3>

            <div class="order_contact_row">
              <i class="fa-solid fa-location-dot"></i>

              <div class="order_contact_row_text">
                <p>Bakı ş., Şamaxı yolu 15-ci km.</p>
              </div>
            </div>

            <div class="order_contact_row">
              <i class="fa-solid fa-phone"></i>

              <div class="order_contact_row_text">
                <p>(+994 12) 565-1-565</p>
                <p>(+994 12) 565-2-565</p>
                <p>(+994 55) 222-32-46</p>
                <p>(+994 55) 222-34-19</p>
              </div>
            </div>

            <div class="order_contact_row">
              <i class="fa-regular fa-envelope"></i>

              <div class="order_contact_row_text">
                <p>office@solitonservice.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="footerWrapper">
          <div class="footer_logo_column">
            <div class="footer_logoBox">
              <img src="assets/static-photos/logo.svg" alt="" />
            </div>

            <p>
              "Lider Service" təcrübəli mütəxəssislər və konsultantlar
              komandasıdır
            </p>

            <div class="footer_logo_column_socialMediaIcons">
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>

          <div class="footer_website_navigation">
            <h4 class="footer_column_header">Saytın xəritəsi</h4>

            <div class="footer_columnWrapper">
              <div class="footer_column">
                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Əsas səhifə</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Çatdırılma</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Quraşdırma</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Usta sifarişi</span>
                </a>
              </div>

              <div class="footer_column">
                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Çatdırılma</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Zəmanət</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Haqqımızda</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/double-arrow.svg" alt="" />

                  <span>Əlaqə</span>
                </a>
              </div>
            </div>
          </div>

          <div class="footer_contact">
            <h4 class="footer_column_header">Əlaqə</h4>

            <div class="footer_columnWrapper">
              <div class="footer_column">
                <a href="#" class="footer_link">
                  <img src="assets/icons/phone-icon.svg" alt="" />

                  <span>(+994 12) 565-1-565</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/phone-icon.svg" alt="" />

                  <span>(+994 12) 565-2-565</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/phone-icon.svg" alt="" />

                  <span>(+994 55) 222-32-46</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/phone-icon.svg" alt="" />

                  <span>(+994 55) 222-34-19</span>
                </a>
              </div>

              <div class="footer_column">
                <a href="#" class="footer_link">
                  <i class="fa-solid fa-location-dot"></i>

                  <span>Bakı ş., Şamaxı yolu 15-ci km.</span>
                </a>

                <a href="#" class="footer_link">
                  <img src="assets/icons/mail-bg-blue.svg" alt="" />

                  <span>office@solitonservice.com</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottomBox row">
          <span>© Lider Service - 2022. Müəllif hüquqları qorunur.</span>

          <span>Sayt Jedai tərəfindən yaradılmışdır.</span>
        </div>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="./js/jquery.nice-select.js"></script>

    <script src="./js/sliderOption.js"></script>

    <script src="./js/nice-select.js"></script>

    <script src="./script.js"></script>
  </body>
</html>
